.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .searchInput {
    padding: 8px;
    border: none;
    background-color: grey;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .searchButton {
    background-color: rgba(13, 56, 37, 0.4);;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  