.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .page {
    margin: 0 10px;
    
  }

  .page button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .page button:hover {
    background-color: #3e8e41;
  }
  
  .activePage button {
    background-color: #165b18;
    color: #fff;
    opacity: 0.8;
    border: none;
    border-radius: 10%;
    padding: 10px;
  }
  
  
/*   .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page {
    margin: 0px 5px;
  }
  
  .activePage {
    opacity: 0.8;
  } */